.dialog-background {
  background: rgba(0, 0, 0, 0.2);
}
i{
  background: url(https://images-eu.ssl-images-amazon.com/images/G/31/gno/sprites/nav-sprite-global-1x-hm-dsk-reorg._CB405936311_.png) no-repeat;
  display: inline-block;
}