// Variables Font Family
$regular: "Open Sans Regular";
$semi-bold: "Open Sans SemiBold";
$bold: "Open Sans Bold";

// Primary Colors
$primary-color1: #e47911;
$primary-color2: #007185;
$primary-color005: rgb(40 131 243 / 5%);

// Secondary Colors
$secondary-color1: #131921;
$secondary-color2: #232f3e;
$secondary-color3: #36b37e;
$secondary-color4: #6554c0;
$secondary-color5: #f3f3f3;
$secondary-color6: #f08804;

// Neutral Colors
$primary-color1-light: #febd69;

$white: #ffffff;
$error: #de350b;
$success: #00875a;
$info: #0065ff;

$border-radius: 4px;

$transition: all ease-in-out 0.2s;
$border-dashed: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='10' ry='10' stroke='%23999999FF' stroke-width='2' stroke-dasharray='4%2c 8' stroke-dashoffset='0' stroke-linecap='square'/%3e%3c/svg%3e");

$box-shadow1: 0 0 8px 0 rgba(0, 0, 0, 0.15);
$box-shadow2: 0 0 0 4px rgba(40, 131, 243, 0.2);
$box-shadow3: 0 0 0 2px rgba(40, 131, 243, 0.2);
$box-shadow4: 0 4px 8px 0 rgba(0, 0, 0, 0.1);
$box-shadow5: 0 8px 18px 0 rgba(0, 0, 0, 0.16);
$box-shadow6: 0 0 24px 0 rgba(0, 0, 0, 0.1);
$box-shadow7: 0 0 0 1px rgba(40, 131, 243, 0.2);
$box-shadow8: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
